<%- include('layout/header') %>

  <div class="mt-6 mb-6 container is-max-desktop has-text-centered">

    <h1 class="title">
      Como falar muito sem dizer nada
    </h1>

    <p class="subtitle">
      Clique no botão abaixo para gerar outra frase.
    </p>

    <div class="card my-6">
      <div class="card-content">
        <div class="sentence" tabindex="0">
          <i class="fa-3x fas fa-circle-notch fa-spin"></i>
        </div>
      </div>
    </div>

    <div class="buttons are-medium is-justify-content-center">
      <a class="button is-primary generate">Gerar&nbsp;<i class="fas fa-plus"></i></a>
      <a class="button is-secondary copy">Copiar&nbsp;<i class="fas fa-copy"></i></a>
    </div>

  </div>

  <%- include('layout/footer') %>