<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/imgs/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/imgs/favicon-16x16.png">
  <link id="favicon" rel="icon" type="image/png" sizes="64x64" href="/imgs/favicon.ico">
  <link rel="manifest" href="/manifest.json">

  <!-- Primary Meta Tags -->
  <meta name="title" content="<%= title %>">
  <meta name="description"
    content="Permite fazer mais de 10 mil combinações de frases onde você poderá fazer grandes discursos sem dizer praticamente NADA!">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://comofalarmuitosemdizernada.herokuapp.com/">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description"
    content="Permite fazer mais de 10 mil combinações de frases onde você poderá fazer grandes discursos sem dizer praticamente NADA!">
  <meta property="og:image"
    content="https://comofalarmuitosemdizernada.herokuapp.com/imgs/android-chrome-512x512.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://comofalarmuitosemdizernada.herokuapp.com/">
  <meta property="twitter:title" content="<%= title %>">
  <meta property="twitter:description"
    content="Permite fazer mais de 10 mil combinações de frases onde você poderá fazer grandes discursos sem dizer praticamente NADA!">
  <meta property="twitter:image"
    content="https://comofalarmuitosemdizernada.herokuapp.com/imgs/android-chrome-512x512.png">

  <link rel="stylesheet" href="/css/bundle.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0P6S1WF939"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-0P6S1WF939');
  </script>

  <script data-ad-client="ca-pub-3199363878351859" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W3QGP7S');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W3QGP7S"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- div class="tabs">
    <ul>
      <li <% if ( url == '/' ) { %> class="is-active" <% } %> >
        <a href="/">
          <span class="icon is-small"><i class="fas fa-home" aria-hidden="true"></i></span> 
          Início
        </a>
      </li>
      <li <% if ( url == '/about' ) { %> class="is-active" <% } %> >
        <a href="/about">
          <span class="icon is-small"><i class="fas fa-align-left"></i></span>
          Sobre
        </a>
      </li>
    </ul>
  </div-->