@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";
@import '../../node_modules/@creativebulma/bulma-collapsible/src/sass/index.sass';
@import "./animates.scss";

body {
    @media all and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    height: 100vh;
    width: 100vw;

    .sentence {
        -webkit-user-select: all;
        user-select: all;
        padding: 3rem 0;

        @media all and (min-width: 425px) {
            padding: 3rem;
        }
    }

    .text-copied {
        justify-content: center;
        display: flex;
        width: 100%;
        position: absolute;
    }

    @media all and (max-width: 425px) {
        .table-container {
            max-height: 200px;
            overflow-y: auto;
        }
        
        .buttons {
            position: fixed;
            bottom: 0px;
            width: 100%;
            margin: 0 !important;
            padding: 0 !important;

            .generate {
                flex: 6;
                margin: 0 !important;
                border-radius: 0;
            }

            .copy {
                flex: 6;
                margin: 0 !important;
                border-radius: 0;
            }
        }
    }

    .tabs {
        flex-basis: 100%;
    }
}
